## 시리즈와 데이터프레임에 apply 메서드 사용하기

### 1. 시리즈와 apply 메서드

In [1]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60]}) 

print(df)

    a   b
0  10  40
1  20  50
2  30  60

### 2.  열의 값을 직접 계산하기

In [2]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

### 3.  생성된 함수 전달하기(인자값이 하나인경우는 생략된다)

In [7]:
def f(x):
    print('x =', x)
    return x**2

In [8]:
sq = df['a'].apply(f) 
print(sq)

x = 10
x = 20
x = 30
0    100
1    400
2    900
Name: a, dtype: int64

### 4.  생성된 함수 전달하기(인자값이 2개인 경우는 2번째 인자를 전달한다.)

In [9]:
def f2(x, n):return x**n

In [10]:
ex = df['a'].apply(f2, n=3) 
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

### 5. 데이터 프레임과 apply 메서드

In [11]:
df

    a   b
0  10  40
1  20  50
2  30  60

In [12]:
#한개의 인자를 전달받아 이를 출력하는 함수입니다. 
def print_me(x): 
    print("출력:\n", x)
    return x+1000

In [13]:
#axis=0 또는 생략된 경우는 열방향으로 함수를 적용합니다. 
df.apply(print_me, axis=0)   #df의 a칼럼이 전달되고 b칼럼이 전달된다.

출력:
 0    10
1    20
2    30
Name: a, dtype: int64
출력:
 0    10
1    20
2    30
Name: a, dtype: int64
출력:
 0    40
1    50
2    60
Name: b, dtype: int64

      a     b
0  1010  1040
1  1020  1050
2  1030  1060

In [14]:
#axis=1인 경우는 열방향으로 함수를 적용합니다. 
df.apply(print_me, axis=1)

출력:
 a    10
b    40
Name: 0, dtype: int64
출력:
 a    10
b    40
Name: 0, dtype: int64
출력:
 a    20
b    50
Name: 1, dtype: int64
출력:
 a    30
b    60
Name: 2, dtype: int64

      a     b
0  1010  1040
1  1020  1050
2  1030  1060

In [17]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [18]:
df

    a   b
0  10  40
1  20  50
2  30  60

In [16]:
df.apply(avg_3,y=10,z=10)

           a          b
0  10.000000  20.000000
1  13.333333  23.333333
2  16.666667  26.666667

In [19]:
#3개의 인자를 필요로 하는 함수에 하나의 인자만 전달되므로 오류이다. 
print(df.apply(avg_3))
#print(df.apply(avg_3,y=10,z=10))   #이렇게 전달되어야한다.

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [20]:
df

    a   b
0  10  40
1  20  50
2  30  60

In [21]:
#위의 함수를 개선한 것이다. 열단위로 데이터를 처리(a->10 20 30  b->40,50,60 )
def avg_3_apply(col):
    x = col[0] 
    y = col[1] 
    z = col[2] 
    return (x + y + z) / 3 


print(df.apply(avg_3_apply, axis=0)) #axis=0는 생략가능

a    20.0
b    50.0
dtype: float64

In [22]:
#위의 함수를 개선한 것이다. row단위로 데이터를 처리 (10+40)/3 
def avg_3_apply(row):
    x = row[0] 
    y = row[1] 
    return (x + y) / 3 


print(df.apply(avg_3_apply, axis=1))

0    16.666667
1    23.333333
2    30.000000
dtype: float64

In [23]:
df.shape

(3, 2)

In [24]:
#칼럼의 평균 
def avg_col_apply(col):
    sum = 0
    for item in col:
         sum += item
    return sum / df.shape[0]

In [25]:
#행의 평균 
def avg_row_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]

In [27]:
print(df.apply(avg_col_apply, axis = 0)) #열평균
print('----------------------------------------')
print(df.apply(avg_row_apply, axis = 1)) #행평균

a    20.0
b    50.0
dtype: float64
----------------------------------------
0    25.0
1    35.0
2    45.0
dtype: float64

## apply 메서드 고급

### 1. 데이터프레임의 누락값 처리하기 ― 열 방향

In [28]:
import seaborn as sns

titanic = sns.load_dataset("titanic")

In [29]:
print(titanic.info())
#titanic.deck  ...갑판 : [A, B, C, D, E, F, G]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [35]:
import numpy as np

In [36]:
#age칼럼에 대하여 null의 개수는 177건이다. 
np.count_nonzero( titanic["age"].isnull() , axis=0)

177

In [32]:
np.count_nonzero([True,False,True,True])

3

In [40]:
#누락값 갯수반환
import numpy as np

def count_missing(datas):
    null_datas = pd.isnull(datas)
    null_count = np.sum(null_datas)
    return null_count

In [41]:
#각 칼럼에 대한 누락값의 갯수를 얻을 수 있다. 
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [42]:
#누락값의 비율계산  
def ratio_missing(datas):
    num = count_missing(datas) #각 칼럼의 누락건수 
    counts = datas.size #891건 
    return num / counts

In [43]:
pmis_col = titanic.apply(ratio_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [44]:
#누락값이 아닌 데이터비율 
def ratio_complete(rows):
    return 1 - ratio_missing(rows)

titanic.apply(ratio_complete)

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

### 8. 데이터프레임의 누락값을 처리하기 ― 행 방뱡

In [47]:
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [54]:
titanic.iloc[1, :]

survived               1
pclass                 1
sex               female
age                   38
sibsp                  1
parch                  0
fare             71.2833
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone              False
Name: 1, dtype: object

In [46]:
cmis_row = titanic.apply(count_missing, axis=1)#누락값 갯수반환....행에 몇개의 칼럼에 null이 있는가? 
rmis_row = titanic.apply(ratio_missing, axis=1)#누락값 데이터비율 ...1/15  (15개 칼럼중에 1개 칼럼 )
rcom_row = titanic.apply(ratio_complete, axis=1)#누락값이 아닌 데이터비율 


print(cmis_row.head(), end="*"*80+"\n")
print(rmis_row.head(), end="*"*80+"\n")
print(rcom_row.head(), end="*"*80+"\n")

0    1
1    0
2    1
3    0
4    1
dtype: int64********************************************************************************
0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64********************************************************************************
0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64********************************************************************************

In [ ]:
#누락데이터의 count칼럼 추가 
titanic['num_missing'] = titanic.apply(count_missing, axis=1)

print(titanic.head())

In [ ]:
#누락값이 2개 이상인 데이터 추출 
titanic[titanic.num_missing > 1].head()