In [95]:
#class : object만드는 틀, template ...int
#object: class로 만든 독립된 실체 ...a
a=10
b=20
print(type(a))

<class 'int'>

In [99]:
s = "hello world!"  #class :str, object :s
print(type(s))
dir(s)
#"aaaa" + "bbbbb"

alist = s.split()  #default : 공백으로 분리 
for aa in alist:
    print(aa)

<class 'str'>
hello
world!

In [102]:
s = "       hello world!          "
print("*" +s.lstrip()+ "*")
print(s.rstrip())
print("*" + s.strip() + "*")

*hello world!          *
       hello world!
*hello world!*

In [103]:
#체이닝 
s = "       hello world!          "
print("*" +s.lstrip().upper()+ "*")

*HELLO WORLD!          *

In [105]:
a="123"

a.zfill(10)

'0000000123'

In [116]:
s = "       whello world!          "
s.strip().find("w")
s.strip().rfind("w")
s.strip().index("w")
s.strip().rindex("w")

s.strip().find("z") #없으면 -1
#s.strip().index("z")#없으면 error

-1

In [127]:
score=int(input("점수>>"))
print("당신의 점수는", score ,"입니다.", sep="")
print("당신의 점수는" + str(score) + "입니다.", sep="")

name = "홍길동"
score2 = 90.5
#-는 왼쪽정렬, 숫자:자리수 s:문자 d:정수 f:실수 
print("%-10s의 점수는 %5d, %.2f 입니다."%(name, score, score2), sep="")

print("{0}의 점수는 {2}, {1} {2} 입니다.".format(name, score, score2), sep="")

점수>> 22

당신의 점수는22입니다.
당신의 점수는22입니다.
홍길동       의 점수는    22, 90.50 입니다.
홍길동의 점수는 90.5, 22 90.5 입니다.

In [133]:
print("{}점수는 {}이고 {}점수는 {}입니다.".format("R",100,"Python","200"))

print("{0}점수는 {1}이고 {2}점수는 {3}입니다.".format("R",100,"Python","200"))

print("{c}점수는 {d}이고 {a:>10}점수는 {b}입니다.".
                              format(a="R",b=100,c="Py",d=200))
print("{c}점수는 {d}이고 {a:<10}점수는 {b}입니다.".
                              format(a="R",b=100,c="Py",d=200))

R점수는 100이고 Python점수는 200입니다.
R점수는 100이고 Python점수는 200입니다.
Py점수는 200이고          R점수는 100입니다.
Py점수는 200이고 R         점수는 100입니다.

In [137]:
person = {"name":"홍길동", "age":20}

person["major"] = "경영학과"  #추가
person.update(major2="통계학과")#추가
person["age"] = 30 #수정
person.update(name = "김길동") #수정
person

{'name': '김길동', 'age': 30, 'major': '경영학과', 'major2': '통계학과'}

In [139]:
person.pop("age") #제거

30

In [142]:
person

{'name': '김길동', 'major': '경영학과', 'major2': '통계학과'}

In [143]:
person.get("name") #키를 가지고 얻기 
person["name"]

'김길동'

In [146]:
#dir(person)
person.items()

dict_items([('name', '김길동'), ('major', '경영학과'), ('major2', '통계학과')])

In [148]:
for item in person.items():
    print(type(item), item, item[0], item[1])

<class 'tuple'> ('name', '김길동') name 김길동
<class 'tuple'> ('major', '경영학과') major 경영학과
<class 'tuple'> ('major2', '통계학과') major2 통계학과

In [150]:
person.keys()
person.values()

dict_values(['김길동', '경영학과', '통계학과'])

In [152]:
keys = ["kor", "eng", "math" ]

dict.fromkeys(keys)
dict.fromkeys(keys,100)

{'kor': 100, 'eng': 100, 'math': 100}

In [164]:
{ val:key    for key, val in person.items()}
    
[ key+val   for key, val in person.items()]

['name김길동', 'major경영학과', 'major2통계학과']

In [169]:
exam = {"kor":100, "eng":50, "math":80}

{ key:val    for key,val in exam.items() if val > 50}

{'kor': 100, 'math': 80}

In [178]:
{ subject:score  if score>50 else score+5 for subject, score in exam.items() }

{'kor': 100, 'eng': 55, 'math': 80}

In [184]:
person = {"name":"홍길동", 
                  "전공": {"1":"통계", "2":"경영"}
         }
person["전공"]["2"]

'경영'

In [182]:
btc = {"status":"0000","data":{"opening_price":"13501000","closing_price":"13500000","min_price":"13300000","max_price":"13746000","units_traded":"2663.03936443","acc_trade_value":"36071102484.9227","prev_closing_price":"13734000","units_traded_24H":"5614.15900622","acc_trade_value_24H":"76963770915.774","fluctate_24H":"-505000","fluctate_rate_24H":"-3.61","date":"1597197670058"}}

type(btc)
btc["data"]['closing_price']

'13500000'

In [187]:
for key, val in btc["data"].items():
    print(key ,"-->", val)

opening_price --> 13501000
closing_price --> 13500000
min_price --> 13300000
max_price --> 13746000
units_traded --> 2663.03936443
acc_trade_value --> 36071102484.9227
prev_closing_price --> 13734000
units_traded_24H --> 5614.15900622
acc_trade_value_24H --> 76963770915.774
fluctate_24H --> -505000
fluctate_rate_24H --> -3.61
date --> 1597197670058

In [188]:
#set : 중복불가, 순서가 없다. 

a = {}
print(type(a))

<class 'dict'>

In [189]:
a = set()
print(type(a))

<class 'set'>

In [193]:
a = {"김밥", "김밥", "오뎅", "떡볶기"}
#a[1] 순서가없다.
a #중복없다.

{'김밥', '떡볶기', '오뎅'}

In [194]:
s = "hello"
set(s)  #unique

{'e', 'h', 'l', 'o'}

In [200]:
a = {1,2,3,4}
b = {3,4,5,6}

a|b
a.union(b)

a&b
a.intersection(b)

a-b
a.difference(b)

{1, 2}

In [201]:
set("Hello")

{'H', 'e', 'l', 'o'}

In [203]:
{a  for a in "Hello"}

{'H', 'e', 'l', 'o'}

In [204]:
s = set()
for a in "Hello":
    s.add(a)
    
print(s)

{'H', 'e', 'o', 'l'}

# File

In [227]:
f = open("data/sample.txt", "w", encoding="utf-8")
f.write("Hello~\n")
f.write("안녕~\n")
f.close()

In [228]:
f = open("data/sample.txt", "r", encoding="utf-8")
s = f.read()
print(s)
f.close()

Hello~
안녕~

In [232]:
with open("data/sample2.txt", "w", encoding="utf-8") as f:
    f.write("Hello~\n")
    f.write("안녕~\n")
    f.write(str(10))
    f.write(str([1,2,3,4,5]))
#with끝나면 자동close

In [233]:
with open("data/sample2.txt", "r", encoding="utf-8") as f:
    s = f.read()
    print(s)

Hello~
안녕~
10[1, 2, 3, 4, 5]

In [236]:
import pickle
a=10    #int
b="Hello"  #str
c=[10,20,30]  #list
d={"name":"홍길동", "age":20}  #dict

#피클링
with open("data/sample3.pickle", "wb") as f:
    pickle.dump(a, f)
    pickle.dump(b, f)
    pickle.dump(c, f)
    pickle.dump(d, f)

In [237]:
#언피클링 
with open("data/sample3.pickle", "rb") as f:
    ival = pickle.load(f)
    sval = pickle.load(f)
    lval = pickle.load(f)
    dval = pickle.load(f)
    
print(ival, ival+100)    
print(sval, sval.upper())    
print(lval, lval[0])    
print(dval, dval["name"])

10 110
Hello HELLO
[10, 20, 30] 10
{'name': '홍길동', 'age': 20} 홍길동

In [257]:
s = "김재경재김"
flag = True
for i in range(len(s)//2):
    print(s[i], s[-1-i])
    if(s[i] != s[-1-i]):
        flag = False
        
if flag:
    print("회문")
else:    
    print("회문아니다")

김 김
재 재
회문

In [271]:
s = "level"

list(reversed(s)) == list(s)

"".join(reversed(s)) == s

True

# 함수 (function)

In [ ]:
#문장들의 묶음 
#반복사용을 위해 , 모듈화하기 위해

In [274]:
#데이타수집
f()
#데이터정제
f2()

In [281]:
#함수호출 
print("함수호출전")#1
add()#2...#4
print("함수호출후") #5

함수호출전
add함수입니다.
add함수 종료합니다.
함수호출후

In [280]:
#함수정의

#3
def add():
    print("add함수입니다.")
    #
    #
    print("add함수 종료합니다.")

In [288]:
#함수정의....a,b는 형식매개변수(parameter, argument)
def add(a, b):
    print("add function")
    c = a+b
    print(c)
    
#함수호출
add(10,20)  #10,20  실매개변수 
add(100,200)

add function
30
add function
300

In [289]:
#함수정의....a,b는 형식매개변수(parameter, argument)
def add(a, b):
    print("add function")
    c = a+b
    return c #호출한 곳으로 돌아갈때 값을 가지고간다. 
    
#함수호출
result1 = add(10,20)  #10,20  실매개변수 
result2 = add(100,200)

print(result1+result2)

add function
add function
330

In [291]:
def calcular(x, y):
    print("사칙연산을 수행하는 함수이다.")
    return x+y, x-y, x*y, x//y, x%y  #반환 여러개 ...tuple

In [295]:
result = calcular(10,20)
print(type(result), result)

v1,v2,v3,v4,v5 =  calcular(10,20)
print(v1,v2,v3,v4,v5)

사칙연산을 수행하는 함수이다.
<class 'tuple'> (30, -10, 200, 0, 10)
사칙연산을 수행하는 함수이다.
30 -10 200 0 10

In [300]:
def print_number(a,b,c):
    print(a)
    print(b)
    print(c)
    print("-"*20)

In [303]:
x = [1,2,3]

print_number(x, 88, 99)
print_number(*x) #unpacking

[1, 2, 3]
88
99
--------------------
1
2
3
--------------------

In [315]:
def print_number(*args): #가변인자 
    print(args)
    print("-"*20)
    for i in args:
        print(i)

In [318]:
data = [10,20,30,40,50]
#print_number(data)
print_number(*data)  #unpacking.... 갯수만큼으로 풀기

(10, 20, 30, 40, 50)
--------------------
10
20
30
40
50

In [319]:
#함수정의

def print_str(a):
    print(a)

In [324]:
#함수호출 

print_str(10)
print_str("10")
print_str(10>20)
print_str([1,2,3,4,5])
print_str({1,2,3,4,5})

10
10
False
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

In [338]:
def print_str(*args):  #가변인자 : 인자가 가변이다. 
    print(len(args), sum(args))
    for i in args:
        print(i)
    print("-"*20)

In [339]:
print_str(*[10,20,30])  #unpacking ...풀다 
print_str(*[10,20,30,40,50])  #unpacking ...풀다

3 60
10
20
30
--------------------
5 150
10
20
30
40
50
--------------------

In [356]:
def print_person(**args):  #dictionary의 속성과 값이 가변 
    print(args)
    for key, val in args.items():
        print(key, "-->", val)

In [357]:
person = {"name":"홍길동", "age":20, "major":"통계학과"}

print_person(**person)  #dictionary(key,value)를 unpacking

{'name': '홍길동', 'age': 20, 'major': '통계학과'}
name --> 홍길동
age --> 20
major --> 통계학과

In [ ]:
1. 성적이 90점이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 
60점 이상이면 D, 
그외에는 F를 반환하는 함수 getGrade(score)를 작성하고 테스트하라.

In [358]:
def getGrade(score):
    grade = "F"
    if score>=90:
        grade="A"
    elif score>=80:
        grade="B"
    elif score>=70:
        grade="C"    
    elif score>=60:
        grade="D"
        
    return grade

In [361]:
jumsu = int(input("점수를 입력하세요: "))
print("성적은 {} 입니다".format(getGrade(jumsu)))

점수를 입력하세요:  83

성적은 B 입니다

In [366]:
def decrement(value):
    value -= 1

n = 1
decrement(n)
print(n)

1

In [367]:
def gcd(a,b):
    minVal = min(a,b)
    for i in range(minVal, 0, -1):
        if a%i==0 and b%i==0:
            break        
    return i

In [371]:
x = int(input("첫 번째 정수:"))
y = int(input("두 번째 정수:"))
gcd(x, y)

첫 번째 정수: 36
두 번째 정수: 12

12

In [374]:
def getSorted(x, y):
    if x>y:
        return y, x
    else:
        return x, y

In [377]:
a = int(input("첫 번째 정수: "))
b = int(input("두 번째 정수: "))
getSorted(a,b)

첫 번째 정수:  30
두 번째 정수:  20

(20, 30)

In [378]:
def f_palindrome(param):
    result = "회문이다."
    for i in range(len(param)//2):
        if param[i] != param[-1-i]:
            result = "회문이 아니다."
            break
            
    return result

In [380]:
s = input("문자열을 입력하시오: ")
f_palindrome(s)

문자열을 입력하시오:  love

'회문이 아니다.'

In [389]:
def person_info(name, age=20):
    print(name, end=" ")
    print(age)
    print("-"*20)

In [390]:
person_info("홍길동", 12)
person_info("홍길동")

홍길동 12
--------------------
홍길동 20
--------------------

In [ ]:
5! = 5*4*3*2*1
5! = 5*4!
       4*3!

In [391]:
#재귀함수 ...자기자신이 자신을 부른다. 큰문제를 작은문제로 만들면서 해결 
def fact(n):
    if n == 1:
        return 1
    return n*fact(n-1)

In [392]:
fact(5)

120

In [393]:
def add100(x):
    return x+100

In [394]:
add100(2)

102

In [395]:
f = lambda x : x+100
f(2)

102

In [397]:
(lambda x : x+100)(3)

103

In [401]:
alist = [1,2,3,4,5]

list(map(add100, alist))  #def
list(map(f, alist))       #lambda정의를 변수에 저장 
list(map(lambda x:x+100, alist)) # lambda표현식 직접 작성

[101, 102, 103, 104, 105]

In [407]:
alist = list(range(11))

#값 각각이 함수에 적용되어 변형된다. 
#map(함수, 값 )
#map(람다표현식, 값 )

a = map(lambda x: str(x) if x%3==0 else float(x), alist)

list(a)

['0', 1.0, 2.0, '3', 4.0, 5.0, '6', 7.0, 8.0, '9', 10.0]

In [410]:
tuple(map(str, alist))
tuple(map(float, alist))

(0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0)

In [420]:
#입력data
alist = ["Hello", "coffee", "notebook"]

#결과 
#blist = ["He", "co", "no"]

#방법1
list(map(lambda x:x[:2], alist))
#방법2
f = lambda x:x[:2]
list(map(f, alist))
#방법3
def f(x):
    return x[:2]
list(map(f, alist))

['He', 'co', 'no']

In [422]:
alist = [1,2,3,4,5]
blist = [10,20,30,40,50]

#extend(확장)
alist + blist  

#각 item끼리 계산 
f = lambda x,y : x+y
list(map(f, alist, blist))

[11, 22, 33, 44, 55]

In [425]:
alist = [1,2,3,4,5,6,7,8,9,10]
f = lambda x : x>5 and x<10

list(filter(f, alist))

[6, 7, 8, 9]

In [430]:
from functools import reduce

alist = [1,2,3,4,5,6,7,8,9,10]
f = lambda x,y : x+y 
f = lambda x,y : x-y 
f = lambda x,y : x*y 

reduce(f, alist)

#함수 ~ 문장들의 묶음 
#클래스 ~ 변수들 과 함수들의 묶음  
#모듈 ~ .py (클래스들의 묶음 )  
#패키지 ~ .py 묶음 (폴더)

3628800

In [439]:
#전역(global)
#지역(local)

x=10 #전역변수 
def test():
    x=20 #지역변수 
    print("함수안에서 출력:", x)

In [440]:
print(x)
test()
print(x)

10
함수안에서 출력: 20
10

In [441]:
x=10 #전역변수 
def test():
    global x
    x=20 #전역변수 
    print("함수안에서 출력:", x)

In [442]:
print(x)
test()
print(x)

10
함수안에서 출력: 20
20

In [450]:
x=10
def outter():
    x=20
    def inner():
        nonlocal x
        x=30
        print(x)
    print(x)  #20
    inner()   #30
    print(x)

In [451]:
outter()

20
30
30

In [458]:
#클로져 : 지역변수를 담은 함수를 return. 
#함수호출이 끝나도 지역변수가 남게된다.
#지역변수는 함수가 끝나면 사라진다. 그런데 지역변수를 남기고싶다. 
#클로저를 사용 
def calc():
    a=10
    b=20
    #def inner(x):
    #    return a+b+x
    #return inner
    return lambda x : a+b+x

In [459]:
f = calc()
f(1)
f(2)
f(3)

33