In [1]:
#data type : int, float, str, bool, list, tuple
#값이 여러개 Collection : list, tuple
# list, tuple : 순서가 있다.
# tuple은 수정불가 
a=10
b=3.14
c="python"
d=10>20
e=[a,b,c,d, 100]
f=(a,b,c,d, 200)

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))

10 <class 'int'>
3.14 <class 'float'>
python <class 'str'>
False <class 'bool'>
[10, 3.14, 'python', False, 100] <class 'list'>
(10, 3.14, 'python', False, 200) <class 'tuple'>

In [8]:
del print
print("aaaaa")

aaaaa

In [9]:
sum(alist)

55

In [13]:
#순서있고 중복가능 
#list:변경가능, tuple:변경불가능 
#range---lazy
alist = list(range(1,11,1))
atuple = tuple(range(1,11,1))
alist[1] = 99
#atuple[1] = 88
alist.append(99)
alist.append(99)
atuple = (1,1,1,2,2,2,4)
print(alist)
print(atuple)

[1, 99, 3, 4, 5, 6, 7, 8, 9, 10, 99, 99]
(1, 1, 1, 2, 2, 2, 4)

In [21]:
#Dictionary(사전).......
#다른언어에서는 JSON(Javascript Object Notation)
#{} : dict, set

#키는 중복불가, 나중것이 유효 
car = {"model":"BMW520", "price":5000, "price":6000}
print(car, type(car))
car["model"] = "ABC100"  #수정
car["model"] = "ABC200"  #수정
car["color"] = "black"   #추가 
car[100] = 200 #키는 숫자, 문자, bool가능 
car[True] = "bool가능"
car["악세사리"] = ["A","B","C"]
car["악세사리2"] = ("A","B","C")
car["악세사리3"] = {"A":10,"B":20,"C":30}
print(car)

{'model': 'BMW520', 'price': 6000} <class 'dict'>
{'model': 'ABC200', 'price': 6000, 'color': 'black', 100: 200, True: 'bool가능', '악세사리': ['A', 'B', 'C'], '악세사리2': ('A', 'B', 'C'), '악세사리3': {'A': 10, 'B': 20, 'C': 30}}

In [24]:
person={}  #dict 
score={100,200,300,100,200,200,200}  
#set : 중복불가능 , 순서가 없다. 
print(type(person), type(score))
print(score)

<class 'dict'> <class 'set'>
{200, 100, 300}

In [25]:
person={}  #dict ... 키와 값의 쌍이다. 
person2 = dict()
print(type(person), type(person2))

<class 'dict'> <class 'dict'>

In [30]:
person=dict(name="홍길동", age=20)
a=("name","홍길동")
b=("age",30)
alist = [a,b]
person=dict(alist)
person

{'name': '홍길동', 'age': 30}

In [39]:
keys=["name", "age", "major"]
values=["홍길동", 20, "경영학과"]
person = dict(zip(keys, values))

person["name"]
#키가 없으면 오류 : person["name2"]

if "name2" in person:
    print(person["name2"])
else:
    print("키가 존재하지 않는다.")
    
print(len(person),"개")

키가 존재하지 않는다.
3 개

In [50]:
a=10

if a==10:
    print("OK")

#조건식의 결과가 bool이다. 0 '' None : False, 나머지:True
a=0
a=''
a=None
a=100
a='python'
if a:  # 값의 존재유무 
    print("OK")    
else:
    print("없다")

OK
OK

In [53]:
a=10

if a==10:
    pass  #빈문장이 불가...이런경우 사용하는 예약어 
else:
    print("fail")

In [58]:
#사용자의 입력값을 이용해서 조건처리 
#점수입력하면 학점을 출력
#90이상 : A
#80이상 : B
#70이상 : C
#60이상 : D
#나머지 : F
score = int(input("점수>>"))
grade=None
if score>=90:
    grade="A"
elif score>=80:
    grade="B"
elif score>=70:
    grade="C"
elif score>=60:
    grade="D"
else:
    grade="F"
print("점수는 ", score, " 학점은" , grade)

점수>> 99

점수는  99  학점은 A

In [66]:
"Hello"*3

'HelloHelloHello'

In [75]:
#반복문 
print("-"*20 + "list사용")    
for i in [10,20,30]:
    print(i, end=" ")
print("\n" + "-"*20 + "tuple사용")    
for i in (10,20,30):
    print(i, end=" ")   
print("\n" + "-"*20 + "str사용")    
for i in "Hello":
    print(i, end=" ")  
print("\n" + "-"*20 + "dict사용")    
mydict = {"name":"홍길동", "age":20}
for key in mydict:
    print(key, "->", mydict[key], end=" ")

--------------------list사용
10 20 30
--------------------tuple사용
10 20 30
--------------------str사용
H e l l o
--------------------dict사용
name -> 홍길동 age -> 20

In [80]:
for dan in range(2,10):
    print(dan , "단")
    for gop in range(1,10):
        print(dan, "*", gop, "=", dan*gop)

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [82]:
for gop in range(1,10):
    for dan in range(2,10):
        print(dan, "*", gop, "=", dan*gop, end="\t")
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [96]:
#1~5
for i in range(1,6):
    print(i, end=" ")
print()

#5,1
for i in range(5,0,-1):
    print(i, end=" ")

print()
for i in reversed(range(1,6)):
    print(i, end=" ")
print()

list(reversed([10,20,30]))

list(reversed("Hello"))
for s in reversed("Hello"):
    print(s)

1 2 3 4 5
5 4 3 2 1
5 4 3 2 1
o
l
l
e
H

In [103]:
for i in range(1,11):
    print(i, end=" ")
    
print("\n" + "-"*20)    

#while :  조건에 맞는 동안 반복 
i=1
while(i<=10):
    print(i, end=" ")
    i = i+1
print("while반복 끝")

1 2 3 4 5 6 7 8 9 10
--------------------
1 2 3 4 5 6 7 8 9 10 while반복 끝

In [173]:
#주사위 : 1 ~6
#모듈 : .py파일 여러개 묶음 (폴더와 비슷 )
#py : python프로그램의 소스코드...함수들의 묶음, 문장+함수  
import random

random.random() #0<= <1 실수 

#su =random.randint(1,6)
while True:
    su = random.randint(1,6) 
    print(su)
    #조건으로 사용되는 변수가 변화가 있어야한다.
    #조건체크하여 강제종료
    
    if su==3:
        break
    
    

print("END")

5
1
2
3
END

In [ ]:
#lotto번호 생성 : 1~45 중복없이 6개 만들기

In [187]:
random.randint(1,45)

2

In [192]:
10 not in [10,20,30]

False

In [207]:
lucky = []
while True:
    su = random.randint(1,45)
    #중복확인 : su가 list에 있는지 확인 
    if su not in lucky:
        lucky.append(su)#중복 없다면 list추가    
    #중복있으면 계속돈다.
    if len(lucky)==6:break
    #갯수가 6이면 반복빠지기 break

print(lucky)

[31, 14, 2, 33, 22, 36]

In [219]:
##반복문에서의 제어문 : if, break, continue 

for su in range(1,11):
    print(su)
    
    if su % 2 == 0: continue   #반복은 계속한다.아래문장들 무시 
    
    if su%3 == 0:break #반복빠지기 
    print("*" * 20)

1
********************
2
3

In [222]:
su = int(input("줄수>>"))
for i in range(1,su+1):
    for j in range(1,i+1):
        print("*", end="")
    print()

줄수>> 5

*
**
***
****
*****

In [259]:
su = random.randint(1,10)
print(su)
for i in range(1,su+1):
    for j in range(1, su+2-i):
        print("*", end="")
    print()

7
*******
******
*****
****
***
**
*

In [ ]:
#1~100
#3의배수이면 Fizz
#5의배수이면 Buzz
#15의 배수이면 FizzBuzz

In [285]:
#%%timeit
# for i in range(1,101):
#     if i%3==0:
#         print("Fizz")
#     if i%5==0:
#         print("Buzz")
#     if i%3==0  and i%5==0:
#         print("FizzBuzz")
#     print(i)

In [265]:
"-"*20

'--------------------'

In [276]:
#반복 True->1   False->0
"-"*True
"-"*False

"Fizz"*(3%3==0) + "Buzz"*(3%5==0) or 3

'Fizz'

In [287]:
#%%timeit
# for i in range(1,101):
#     print("Fizz"*(i%3==0) + "Buzz"*(i%5==0) or i)

In [293]:
alist = [1,2,3]

alist.append(100)
alist.append(200)
alist.append([88,99])
alist.extend([77,66, 55])
alist.insert(2, 10)
alist.insert(3, [21,22,23])
alist[3:3] = [31,32,33]
print(alist)

[1, 2, 10, 31, 32, 33, [21, 22, 23], 3, 100, 200, [88, 99], 77, 66, 55]

In [300]:
alist = [1,2,3,4,5]

print("끝에서 제거:", alist.pop())
print("위치로 제거:", alist.pop(2))
print("값을 제거만하고 return없음:", alist.remove(4))
del alist[0]  #특정위치로 제거 
print(alist)

끝에서 제거: 5
위치로 제거: 3
값을 제거만하고 return없음: None
[2]

In [ ]:
#list로 stack, queue
#stack(LIFO: Last In First Out)..append(),pop()
#Queue(FIFO : First In First Out) ....append(), pop(0)

In [310]:
#index : 위치
#count : 횟수

alist = [10,20,30,10, 40,20]

print(alist.index(20))
print(alist.count(20))
a = alist.reverse()
print(a)
print(alist)
alist.sort()
print(alist)
alist.sort(reverse=True)
print(alist)
alist.clear()
print(alist)
alist = [1,2,3]
del alist[:]
print(alist)

1
2
None
[20, 40, 10, 30, 20, 10]
[10, 10, 20, 20, 30, 40]
[40, 30, 20, 20, 10, 10]
[]
[]

In [314]:
alist = [1,2,3]
blist = alist  #주소복사 
clist = alist.copy() #값을 복사 

alist[0] = 99

print(alist)
print(blist)
print(clist)
print(id(alist))
print(id(blist))

[99, 2, 3]
[99, 2, 3]
[1, 2, 3]
2641814744000
2641814744000

In [317]:
alist = [100,90,40,80,70]
for idx, score in enumerate(alist):
    print(idx+1 , "번째:", score)

1 번째: 100
2 번째: 90
3 번째: 40
4 번째: 80
5 번째: 70

In [327]:
#컴프리헨션 
[i+1 for i in range(1,10)]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [322]:
alist = []
for i in range(1,10):
    alist.append(i+1)
    
print(alist)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [326]:
list(range(1,10) )

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [336]:
alist = list(range(1,11))
#result = [str(su)  for su in alist if su%3==0 ]

result = [str(su) if su%3==0 else su for su in alist ]

print(result)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [337]:
[i  for i in range(1,11) if i%2==0 ]

[2, 4, 6, 8, 10]

In [339]:
[i*10 if i%2==0 else i/10 for i in range(1,11)  ]

[0.1, 20, 0.3, 40, 0.5, 60, 0.7, 80, 0.9, 100]

In [329]:
alist = list(range(1,11))
result = []

for su in alist:
    if su%3==0:
        result.append(str(su))
    else:
        result.append(su)
print(result)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [348]:
alist = [1,2,3,4,5]

#str(alist)  list->str, 각각의 값들이 문자로 변경 

list(map(str, alist))
tuple(map(str, alist))

[i*10 for i in alist]
tuple(i*10 for i in alist)

list(i*10 for i in alist)

[10, 20, 30, 40, 50]

In [352]:
alist = [10.2,2.5,3.567,4.2]
[int(i) for i in alist]

[10, 2, 3, 4]

In [355]:
list(map(myF, alist))

[10, 2, 3, 4]

In [353]:
#x는 형식매개변수, argument, parameter 
def myF(x):
    return int(x) 
    #return : 함수를 호출한 곳으로 값을가지고 돌아간다.

In [356]:
alist = [[1,2],[3,4],[5,6]] #3행 2열

for row in alist:
    print(row)

[1, 2]
[3, 4]
[5, 6]

In [357]:
for a,b in alist:
    print(a, b)

1 2
3 4
5 6

In [359]:
for a in alist:
    print(a)
    for b in a:
        print(b)

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6

In [360]:
for a in alist:
    for b in a:
        print(b)

1
2
3
4
5
6

In [362]:
for i in range(len(alist)):
    print(alist[i])
    for j in range(len(alist[i])):
        print(alist[i][j])

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6

# LAB

In [365]:
# 1. 2부터 100 사이의 모든 짝수를 출력하는 
# 반복 루프를 작성한다. 
for i in range(2, 101, 2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [371]:
# 2. 어떤 사람이 복리이자율 7%로 1000만원을 저금했을 경우에 2000만원이 되는데
# 몇 년이 걸리는지 계산하기 위하여 다음과 코드를 작성하였다. 
# 잘못된 점은 없는지 체크해보자. 

year = 0
balance = 1000

while balance < 2000 :
	year = year + 1
	interest = balance * 0.07
	balance = balance + interest
print(year, balance)

11 2104.851952299835

In [372]:
count = 0
while count <= 10:
	print("Hi !")
	count = count + 1
print(count)

Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
Hi !
11

In [373]:
i = 1
while i < 10:
	if i%2 == 0:
		print(i)
	i = i + 1

2
4
6
8

In [374]:
n = 1349
sum = 0
while n > 0 :
	digit = n % 10   #0
	sum = sum + digit  #9+4 + 3  + 1 + 0
	n = n // 10      #1

print(sum)

17

In [375]:
while True:
    su = int(input("87 + 36의 값은?"))
    if su == 87+36:
        print("맞았습니다.")
        break;

87 + 36의 값은? 1
87 + 36의 값은? 1
87 + 36의 값은? 1
87 + 36의 값은? 2
87 + 36의 값은? 4
87 + 36의 값은? 5
87 + 36의 값은? 133
87 + 36의 값은? 123

맞았습니다.

In [377]:
total=0
while True:
    su = int(input("정수를 입력하시오:"))
    if su==0:break
    total += su
    
print(total)

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 4
정수를 입력하시오: 5
정수를 입력하시오: 6
정수를 입력하시오: 0

21

In [381]:
sum = 0
for i in range(100):
	sum = sum + i
print(sum)

4950

In [383]:
sum = 0
i=0
while(i<100):
    sum += i
    i += 1
print(sum)

4950

In [384]:
sum = 0
i = 0
while sum < 100000:
	sum = sum + i
	i = i + 1
print(i, sum)

448 100128

In [386]:
sum = 0
i = 0
for i in range(448):
    sum += i
print(i, sum)

447 100128

In [434]:
sum = 0
i = 0
for i in range(100000):
    sum += i
    if sum >= 100000:break
print(i, sum)

447 100128

In [390]:
# 11. 최대 공약수를 찾는 프로그램을 작성하여 보자. 
# 많은 알고리즘이 있지만 우리는 반복을 이용한 알고리즘을 사용해보자.
# 사용자로부터 받은 두수가 x, y라고 하자. 
# 우리는 변수 i가 1부터 시작하여서 x와 y보다 작을 때까지 반복한다. 
# 한번 반복할 때마다 x와 y를 i로 나누어본다. 
# x와 y가 나누어떨어지면 i를 최대 공약수라고 생각한다. 


# 첫번째 정수: 32
# 첫번째 정수: 12
#  
x = int(input("숫자1>>"))
y = int(input("숫자2>>"))
minSu = min(x, y)

for su in range(minSu, 0, -1):
    if x%su==0 and y%su==0:
        break;
print(su)

숫자1>> 5
숫자2>> 6

1

In [391]:
year = 0
balance = 1000

while balance < 2000 :
	year = year + 1
	interest = balance * 0.07
	balance = balance + interest
print(year, balance)

11 2104.851952299835

In [394]:
del sum

In [393]:
#13. 다음 수열의 합을 계산하는 프로그램을 작성하시오.
#1/3 + 3/5 + 5/7 + ... 99/101

total = 0
for i in range(3, 102, 2):
    total += (i-2)/i
    
print(total)

46.10464832285218

In [395]:
#14. 다음과 같이 1부터 10까지 1제곱값, 2제곱값, 3제곱값, 4제곱값을 출력하는 프로그램을 작성해보자. 

for i in range(1,11):
    for j in range(1,5):
        print(i**j, end="\t")
    print()

1	1	1	1
2	4	8	16
3	9	27	81
4	16	64	256
5	25	125	625
6	36	216	1296
7	49	343	2401
8	64	512	4096
9	81	729	6561
10	100	1000	10000

In [407]:
from random import randint

for i in range(10):
    print("첫번째 주사위= ", randint(1,6), " 두번째 주사위= ", randint(1,6))

첫번째 주사위=  4  두번째 주사위=  5
첫번째 주사위=  3  두번째 주사위=  5
첫번째 주사위=  2  두번째 주사위=  1
첫번째 주사위=  6  두번째 주사위=  5
첫번째 주사위=  1  두번째 주사위=  1
첫번째 주사위=  2  두번째 주사위=  3
첫번째 주사위=  4  두번째 주사위=  2
첫번째 주사위=  5  두번째 주사위=  5
첫번째 주사위=  1  두번째 주사위=  1
첫번째 주사위=  2  두번째 주사위=  4

In [415]:
s = "hello python"
s2 = s.replace("hello", "하이~")

print(s2)
print(s) #원본 변경안됨

하이~ python
hello python

In [414]:
transDict = str.maketrans('aeiou', '12345')
s.translate(transDict)

'h2ll4 pyth4n'

In [429]:
#split, join

s = "김재경,조승희-현유빈$강성구 김조은"
#s.split()  default는 공백으로 분리, 한개의 구분자로 분리 
#여러개의 분리자를 넣으려면 regular expression를 사용 

import re

result = re.split(",|\$|-| ", s)
print(result, type(result))

for name in result:
    print(name)

['김재경', '조승희', '현유빈', '강성구', '김조은'] <class 'list'>
김재경
조승희
현유빈
강성구
김조은

In [432]:
#list->str
"**".join(result)

'김재경**조승희**현유빈**강성구**김조은'