In [1]:
#선택된 커널에 대한 버젼이다. 
import sys

sys.version

'3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]'

In [3]:
#%magic

%timeit 1+2

11.7 ns ± 0.0881 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [4]:
%run sample.py

1파이썬 코드입니다.
2파이썬 코드입니다.
3파이썬 코드입니다.
4파이썬 코드입니다.
5파이썬 코드입니다.

# markdown 
## markdown
### markdown

*이탤릭체 <br>
-이탤릭체<br>
**볼드<br>
--볼드<br>
<u>밑줄</u>
1. 순서있는 목록
2. 순서있는 목록
- 순서없는 목록
+ 순서없는 목록
* 순서없는 목록 
<br>
$sqrt(a^2+b^2)$

In [7]:
#command mode실행 
#!pip list

In [10]:
print("문자를 출력하고 줄 바꾸기")
print('문자를 출력하고 줄 바꾸기')

문자를 출력하고 줄 바꾸기
문자를 출력하고 줄 바꾸기

In [15]:
print(10, end="******")
print(20, 30, 40, 50, sep="$")

10******20$30$40$50

In [17]:
# print('Hello, world!')
# print("Python Programming")

#Hello, world!
#Python Programming

In [19]:
            print('Hello, world!')

Hello, world!

In [32]:
#동적타이핑 ...동적으로 타입이 결정된다. 
a=20
type(a)
if a==10:  #콜론 ....부터 블럭이 시작된다. 반드시 들여쓰기 
    print(a , " 는 정수입니다.")
    print(str(a) + " 는 정수입니다.")

In [41]:
print('계산결과 float:', 10/3)
print("몫:", 10//3)
print("나머지:" , 10%3)
print("몫, 나머지:", divmod(10,3))

mok, namuji = divmod(10,3)
print(mok, namuji)

계산결과 float: 3.3333333333333335
몫: 3
나머지: 1
몫, 나머지: (3, 1)
3 1

In [44]:
a="10"
b="20"
a+b  #문자변수이면 연결, 숫자변수이면 연산 

int(a) + int(b)  #문자->숫자

30

In [48]:
0b1010  #binary 0,1
0o071   #octal 0~7
0x0fa   #hexa 0~9,a,b,c,d,e,f  15*16+10

250

In [50]:
pi = 3.141592
type(pi)

float

In [51]:
1+2j + 3+4j

(4+6j)

<h1>변수와 입력 사용하기</h1>

<img src="images/images.png" width=100 height=100></img>

In [59]:
del print

In [60]:
print("값")

값

In [56]:
#예약어는 변수로 사용할 수 없다. 
#print=10
#print

10

In [68]:
#대소문자 구별한다. 
a="10"
A=100
print(a, type(a), A, type(A), int(a)+A)

10 <class 'str'> 100 <class 'int'> 110

In [69]:
_var = 100

print(_var)

100

In [70]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

In [71]:
a=10
b=20
temp = a
a = b
b = temp
print(a,b)

20 10

In [72]:
a=10
b=20
a,b = b,a
print(a,b)

20 10

In [73]:
s=None
print(s)

None

In [74]:
#복합 대입연산자

a=10
a = a + 20;
a += 30
print(a)

60

In [78]:
s = "현대차, 내년부터 'OTA'시대 연다\
\"타이어만 바꿔도 승차감이 다르다\"..4계절\
타이어 3종 비교\
킹스맨 감성 'MINI 새빌 로' 출시 ..4340만원~\
접수된 침수차만 4400대..지원에 팔 걷어붙인 車업계\
운전 중 '폭우' 쏟아질 땐 '이것' 기억하세요\
[박찬규의 1단기"
                           
s

'현대차, 내년부터 \'OTA\'시대 연다"타이어만 바꿔도 승차감이 다르다"..4계절타이어 3종 비교킹스맨 감성 \'MINI 새빌 로\' 출시 ..4340만원~접수된 침수차만 4400대..지원에 팔 걷어붙인 車업계운전 중 \'폭우\' 쏟아질 땐 \'이것\' 기억하세요[박찬규의 1단기'

In [82]:
s = """
부산에 태풍주의보 발효..오후 4시 최근접
'태풍 장미 북상' 최악 예상됐던 월요일..안심하기엔 이르다
'최장·최다·최악' 역대급 올 장마..아직도 끝나지 않았다
코로나의 역설..한국 GDP 10위권내 진입
"㈜풍산에서 나온 토석 불법처리해 수십억원 부당이득"
"""

s.split("\n")

['',
 '부산에 태풍주의보 발효..오후 4시 최근접',
 "'태풍 장미 북상' 최악 예상됐던 월요일..안심하기엔 이르다",
 "'최장·최다·최악' 역대급 올 장마..아직도 끝나지 않았다",
 '코로나의 역설..한국 GDP 10위권내 진입',
 '"㈜풍산에서 나온 토석 불법처리해 수십억원 부당이득"',
 '']

In [84]:
a = int(input("숫자>>"))
b = int(input("숫자>>"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

숫자>> 10
숫자>> 20

30
-10
200
0.5
0
10

In [91]:
#a , b = input("숫자1 숫자2>>").split()
#a = int(a); b = int(b)

#map은 변형하다. 
a,b = map(int , input("숫자1 숫자2>>").split())

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

숫자1 숫자2>> 10 20

30
-10
200
0.5
0
10

In [92]:
del c

In [96]:
a = 20
b = 30
c = 30
c = c - a
c -= a
a = -a
a

-20

In [97]:
a, b = map(float, 
           input('실수를 입력하세요: ').split())

print(a,b)

실수를 입력하세요:  0.5 10.5

0.5 10.5

In [98]:
s="100,200"
s.split(",")

['100', '200']

In [101]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
print(year,month, day, sep="/", end=" ")
print(hour, minute,second, sep=":" )
#2000/10/27 11:43:59

2000/10/27 11:43:59

In [103]:
1>2, 10>2

(False, True)

In [110]:
1 == 1
1 == 1.0
a = int(input("정수>>"))
b = float(input("실수>>"))

print(id(a))  #주소가 다르다. 
print(id(b))
a is b, a == b

정수>> 1
실수>> 1

140737381218080
2030326637488

(False, True)

In [115]:
bool(0) #값이 0이면 False
bool('') #문자가 없으면 False
bool('False') #문자열의 길이가 0보다 크면 True 
bool(10) #값이 0이아니면 True
bool(-1)

True

In [122]:
a=10  #Flase/True, ''/'aaa'  0/10
if a: 
    print("a는 값이 0이 아니다.")
else:
    print("a는 값이 0이다. ")

a는 값이 0이 아니다.

In [123]:
False and "Python"

False

In [124]:
True and "Python"

'Python'

In [125]:
"JJ" or "Python"

'JJ'

In [133]:
s = '우리는 " 파이썬 "을 \'공부\'합니다.'
s

'우리는 " 파이썬 "을 \'공부\'합니다.'

In [137]:
s = '''
  우리는 "파이썬"을 '공부'합니다.
'''
s.split(" ")

['\n', '', '우리는', '"파이썬"을', "'공부'합니다.\n"]

In [142]:
#list : 순서가 있다. 중복허용 , 값수정가능 
#여러가지 타입의 값을 저장한다. 
a = [100,99,50,88,100]
b = ["홍길동", 100, 10>20, 1+2j, 3.14]
a[2] = 98
print(a, a[2])
print(b)

[100, 99, 98, 88, 100] 98
['홍길동', 100, False, (1+2j), 3.14]

In [144]:
#tuple : 순서가 있다. 중복허용 , 값수정 불가능 
#여러가지 타입의 값을 저장한다. 
a = (100,99,50,88,100)
b = ("홍길동", 100, 10>20, 1+2j, 3.14)
#수정불가 a[2] = 98 
print(a, a[2])
print(b)

(100, 99, 50, 88, 100) 50
('홍길동', 100, False, (1+2j), 3.14)

In [149]:
a = [100, 99, 50, 88, 100]
b = []
c = list()
print(b)
print(c)

d = range(5) #0<=  <5   lazy 
d = list(d)
print(d)
d = tuple(d)
print(d)

[]
[]
[0, 1, 2, 3, 4]
(0, 1, 2, 3, 4)

In [157]:
a = (10,)
type(a)

tuple

In [156]:
a = [10,20,30,]
type(a)

list

In [163]:
#괄호생략가능 
a = 10,
type(a)

tuple

In [170]:
tuple(range(5))
a = tuple(range(1,6)) #1<= <6
b = list(a)
#tuple수정 불가 a[0] = 99
print(a)
b[0] = 99
print(b)
print(tuple(b))

(1, 2, 3, 4, 5)
[99, 2, 3, 4, 5]
(99, 2, 3, 4, 5)

In [175]:
#sequence자료형

10 in [10,20,30] #list
10 in (10,20,30) #tuple
10 in range(11) #0<= <11
"y" in "Python"  #str

True

In [180]:
#연결연산자 : +
[1,2,3] + [10,20,30]  #list
(1,2,3) + (10,20,30)  #tuple
list(range(5)) + list(range(10)) #range는 안됨 ..변형해야가능 
"Python" + "Progrmming"  #string가능

'PythonProgrmming'

In [183]:
#반복연산자
[1,2,3] * 3
(10,20,30) * 2
"파이썬"*3

'파이썬파이썬파이썬'

In [238]:
##LAB

list1 = list(range(1,7))
list1[2] #3
list1[-2] #5
list1[1:3] #[2,3]
len(list1)
list1.index(5) #위치를 찾음 
max(list1)
sum(list1)

21

In [250]:
list1.append(10)
list1

[1, 2, 3, 4, 5, 6, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [269]:
list1 = list(range(1,7))
list1.append(10) #마지막에 추가 
print(list1.pop()) #마지막에서 꺼내기 
print(list1)

10
[1, 2, 3, 4, 5, 6]

In [270]:
print(list1.pop())
print(list1)

6
[1, 2, 3, 4, 5]

In [274]:
list1.insert(1, 99) #특정위치에 삽입 
list1

[1, 99, 99, 99, 99, 2, 3, 4, 5]

In [279]:
list1 = [1,2,3]
list2 = [1,2,3]
list1 + list2 #연결
list1 * 3  #반복
list1 == list2 #값을 비교
list1 is list2 #주소비교 
id(list1), id(list2)

(2030334253760, 2030327039296)

In [3]:
myScore = []

for i in range(5):
    su = int(input("입력>>"))
    myScore.append(su)

print(myScore) 
mean = sum(myScore)/len(myScore)
print("평균:", mean)    

count = 0
for i in range(5):
    if myScore[i] > mean:
        count += 1
        
print("평균이상인 인원은 ", count)

입력>> 100
입력>> 50
입력>> 70
입력>> 60
입력>> 90

[100, 50, 70, 60, 90]
평균: 74.0
평균이상인 인원은  2

In [4]:
%run lab1.py

입력>> 10
입력>> 20
입력>> 30
입력>> 40
입력>> 50

[10, 20, 30, 40, 50]
평균: 30.0
평균이상인 인원은  2

In [185]:
len([1,2,3] * 3)
len((10,20,30) * 2)
len("파이썬"*3)

9

In [189]:
alist = [100,200,300,400,500]
print(alist[0], alist[4], alist[-1])

100 500 500

In [195]:
#sequence 객체 
#list ...수정가능 
#tuple...수정불가 
a = (1,2,3,4,5)
##a[0] = 99
#range..수정불가 
a = range(5)
print(a[0])

#string...수정불가 
s = "hello"
#불가 s[0] = "p"
print(s[0])

0
h

In [196]:
alist = [10,20,30]
del alist[1]
print(alist)

[10, 30]

In [202]:
#slicing 
alist = list(range(0,110,10))
#alist[4:7] #4<= <7 
alist[2:5] = ['a','b']  #3개element제외하고 
                        #2개 element삽입 
alist

[0, 10, 'a', 'b', 50, 60, 70, 80, 90, 100]

4. 다음 중 시퀀스 자료형의 슬라이스에 대한 설명으로 잘못된 것을 모두 고르세요.

1. 시퀀스 객체에 슬라이스로 범위를 지정하여 요소에 값을 할당하면  
새 객체가 생성된다.(X) 
2. 문자열은 슬라이스를 사용하여 일부를 가져올 수 있다.(O) 
3. 튜플은 슬라이스를 사용하여 일부를 가져올 수 없다. (X) 
4. range 객체는 슬라이스로 범위를 지정하여 요소를 할당할 수 없다.(O) 
5. 시퀀스 객체에 인덱스 증가폭을 지정하여 요소를 할당할 때는 
슬라이스 범위의 요소 개수와 할당할 요소 개수가 정확히 일치해야 한다.(O)

In [206]:
alist[:2] = [99,88]
s = "Hello"
atuple = (1,2,3,4,5)
atuple[0:3]

(1, 2, 3)

In [215]:
alist = list(range(0,110,10))
alist[:-1:2]

[0, 20, 40, 60, 80]

In [211]:
alist[:-1:2] = list(range(5))
alist

[0, 88, 1, 'b', 2, 60, 3, 80, 4, 100]

In [220]:
alist = list(range(0,110,10))
alist[0:-1] = ['a','b']
alist

['a', 'b', 100]

In [224]:
#증가폭을 지정했을때 갯수가 맞게 할당 
alist = list(range(0,110,10))
alist[0:-1:3] = ['a','b','c','d']
alist

['a', 10, 20, 'b', 40, 50, 'c', 70, 80, 'd', 100]