In [1]:
import pandas as pd
data = {"자바":[50,90,20,70,60],
        "파이썬":[90,20,80,40,100],
        "하둡":[100,50,90,60,80]}
index = ["김","양","정","박","오"]
df = pd.DataFrame(data, index=index)
df

   자바  파이썬   하둡
김  50   90  100
양  90   20   50
정  20   80   90
박  70   40   60
오  60  100   80

In [21]:
#파이썬 점수중에 가장 높은 사람의 index
df["파이썬"].idxmax()

'오'

In [22]:
#파이썬 점수 가장높은 사람의 값들 (series)
aa=df.loc[df["파이썬"].idxmax()]
print(type(aa))
print(aa)

<class 'pandas.core.series.Series'>
자바      60
파이썬    100
하둡      80
Name: 오, dtype: int64

In [23]:
#행방향 가장 잘한과목 찾기 
df["가장잘한과목"] = df.idxmax(axis=1)
df

   자바  파이썬   하둡 가장잘한과목
김  50   90  100     하둡
양  90   20   50     자바
정  20   80   90     하둡
박  70   40   60     자바
오  60  100   80    파이썬

In [34]:
data = {"자바":[50,90,20,70,60],
        "파이썬":[90,20,80,40,100],
        "하둡":[100,50,90,60,80]}
index = ["김","양","정","박","오"]
df = pd.DataFrame(data, index=index)
df
rowRanking = df.apply(np.argsort, axis=1)
colRanking = df.apply(np.argsort, axis=0)

In [29]:
colRanking

   자바  파이썬  하둡
김   2    1   1
양   0    3   3
정   4    2   4
박   3    0   2
오   1    4   0

In [30]:
colRanking.values

array([[2, 1, 1],
       [0, 3, 3],
       [4, 2, 4],
       [3, 0, 2],
       [1, 4, 0]], dtype=int64)

In [35]:
rowRanking

   자바  파이썬  하둡
김   0    1   2
양   1    2   0
정   0    1   2
박   1    2   0
오   0    2   1

In [36]:
rowRanking.values

array([[0, 1, 2],
       [1, 2, 0],
       [0, 1, 2],
       [1, 2, 0],
       [0, 2, 1]], dtype=int64)

In [41]:
rk = df.columns.to_series()[rowRanking.values][:, ::-1] #역순
rk

array([['하둡', '파이썬', '자바'],
       ['자바', '하둡', '파이썬'],
       ['하둡', '파이썬', '자바'],
       ['자바', '하둡', '파이썬'],
       ['파이썬', '하둡', '자바']], dtype=object)

In [42]:
df[["1등","2등","3등"]] = pd.DataFrame(rk, index=df.index)
df

   자바  파이썬   하둡   1등   2등   3등
김  50   90  100   하둡  파이썬   자바
양  90   20   50   자바   하둡  파이썬
정  20   80   90   하둡  파이썬   자바
박  70   40   60   자바   하둡  파이썬
오  60  100   80  파이썬   하둡   자바